charts/opnc-integration/charts/*
charts/openproject/charts/*
charts/**/charts/*.tgz

# Vendored XWiki chart cleanup
charts/xwiki/tests/
charts/xwiki/charts/mariadb/
charts/xwiki/charts/postgresql/
tmpcharts-*/
helmfile-*/
helmfile.yaml-*/
tmp/
environments/override.yaml

# E2E (Playwright)
logs
*.log
openproject-*-logs.md
npm-debug.log*
node_modules/
*.tsbuildinfo
.env
.env.*
playwright-report/
test-results/
.playwright-browsers/
docker-compose.override.yml
.DS_Store
